[2017-03-18 15:30] arcticicestudio opened #1 "Main theme library"
Implement the main theme library `nord-theme.el`.
It should support all standard / basic UI- and syntax faces.

[2017-03-19 09:35] arcticicestudio opened #2 "Org mode support"
Implement support for the <img src="http://orgmode.org/favicon.ico" width=16 height=16/> *Org* mode
<img src="https://elpa.gnu.org/favicon.png" width=16 height=16/> [`org`](https://elpa.gnu.org/packages/org.html)
🌐 [Official website](http://orgmode.org)

[2017-03-19 09:36] arcticicestudio opened #3 "Markdown mode support"
Implement support for the <img src="http://jblevins.org/favicon.ico" width=16 height=16/> *Markdown* mode.

<img src="https://melpa.org/favicon.ico" width=16 height=16/> [`markdown-mode`](https://melpa.org/#/markdown-mode)
🌐 [Official website](http://jblevins.org/projects/markdown-mode)
:octocat: [Repository](https://github.com/jrblevin/markdown-mode)

[2017-03-19 09:52] arcticicestudio opened #4 "Git Gutter support"
Implement support for the :package: *Git Gutter* package.

<img src="https://melpa.org/favicon.ico" width=16 height=16/> [`git-gutter`](https://melpa.org/#/git-gutter)
:octocat: [Repository](https://github.com/syohex/emacs-git-gutter)

[2017-03-19 09:54] arcticicestudio opened #5 "Evil mode support"
Implement support for the 📦  *Evil* mode.

<img src="https://melpa.org/favicon.ico" width=16 height=16/> [`evil`](https://melpa.org/#/evil)
:octocat: [Repository](https://github.com/emacs-evil/evil)

[2017-03-19 10:10] arcticicestudio opened #6 "mu4e support"
Implement support for the built-in 📦  *MU4E* mode.

[2017-03-19 15:19] arcticicestudio opened #7 "JavaScript support"
Implement support for the JavaScript mode packages 📦 `js2-mode` and :package: `js3-mode`.

<img src="https://melpa.org/favicon.ico" width=16 height=16/> [`js2-mode`](https://melpa.org/#/js2-mode)
<img src="http://elpa.gnu.org/favicon.png" width=16 height=16/> [`js2-mode`](http://elpa.gnu.org/packages/js2-mode.html)
:octocat: [Repository](https://github.com/mooz/js2-mode)

<img src="https://melpa.o

[2017-03-21 19:08] arcticicestudio opened #8 "Web mode support"
Implement support for the Web mode 📦 package.

<img src="https://melpa.org/favicon.ico" width=16 height=16/> [`web-mode`](https://melpa.org/#/web-mode)
🌐 [Official Website](http://web-mode.org)
:octocat: [Repository](https://github.com/fxbois/web-mode)

[2017-03-21 19:11] arcticicestudio opened #9 "Java mode support"
Implement support for the Java mode 📦 package.

<img src="https://melpa.org/favicon.ico" width=16 height=16/> [`jdee`](https://melpa.org/#/jdee)
:octocat: [Repository](https://github.com/jdee-emacs/jdee)

[2017-03-25 07:55] arcticicestudio opened #10 "Company mode support"
Implement support for the Company mode 📦 package.

<img src="https://melpa.org/favicon.ico" width=16 height=16/> [`company`](https://melpa.org/#/company)
🌐 [Official Website](http://company-mode.github.io)
:octocat: [Repository](https://github.com/company-mode/company-mode)

[2017-03-25 07:59] arcticicestudio opened #11 "Powerline support"
Implement support for the Powerline 📦 package.
This should include the Powerline Evil package.

<img src="https://melpa.org/favicon.ico" width=16 height=16/> [`powerline`](https://melpa.org/#/powerline)
:octocat: [Repository](https://github.com/milkypostman/powerline)

<img src="https://melpa.org/favicon.ico" width=16 height=16/> [`powerline-evil`](https://melpa.org/#/powerline-evil)
:octocat: [Re

[2017-03-25 08:03] arcticicestudio opened #12 "JDEE mode support"
Implement support for the JDEE mode 📦 package.

<img src="https://melpa.org/favicon.ico" width=16 height=16/> [`jdee`](https://melpa.org/#/jdee)
:octocat: [Repository](https://github.com/jdee-emacs/jdee)

[2017-03-25 08:07] arcticicestudio opened #13 "Magit support"
Implement support for the Magit 📦 package.

<img src="https://melpa.org/favicon.ico" width=16 height=16/> [`magit`](https://melpa.org/#/magit)
🌐 [Official Website](https://magit.vc)
:octocat: [Repository](https://github.com/magit/magit)

[2017-03-25 08:13] arcticicestudio opened #14 "Rainbow Delimeters support"
Implement support for the Rainbow Delimters 📦 package.

<img src="https://melpa.org/favicon.ico" width=16 height=16/> [`rainbow-delimiters`](https://melpa.org/#/rainbow-delimiters)
:octocat: [Repository](https://github.com/Fanael/rainbow-delimiters)

[2017-03-25 08:28] arcticicestudio opened #15 "Enhanced Ruby mode support"
Implement support for the Enhanced Ruby mode 📦 package.

<img src="https://melpa.org/favicon.ico" width=16 height=16/> [`rainbow-delimiters`](https://melpa.org/#/enh-ruby-mode)
:octocat: [Repository](https://github.com/zenspider/enhanced-ruby-mode)

[2017-03-25 10:54] arcticicestudio opened #16 "Helm support"
Implement support for the Helm 📦 package.

<img src="https://melpa.org/favicon.ico" width=16 height=16/> [`helm`](https://melpa.org/#/helm)
🌐 [Official Website](https://emacs-helm.github.io/helm)
:octocat: [Repository](https://github.com/emacs-helm/helm)

[2017-03-25 10:55] arcticicestudio opened #17 "Flycheck support"
Implement support for the Flycheck 📦 package.

<img src="https://melpa.org/favicon.ico" width=16 height=16/> [`flycheck`](https://melpa.org/#/flycheck)
🌐 [Official Website](http://www.flycheck.org)
:octocat: [Repository](https://github.com/flycheck/flycheck)

[2017-03-25 15:36] arcticicestudio opened #18 "Elixir support"
Implement support for the Elixir mode 📦 package.

<img src="https://melpa.org/favicon.ico" width=16 height=16/> [`elixir-mode`](https://melpa.org/#/elixir-mode)
:octocat: [Repository](https://github.com/elixir-lang/emacs-elixir)

[2017-03-25 17:07] arcticicestudio opened #19 "Anzu support"
Implement support for the Anzu 📦 package.

<img src="https://melpa.org/favicon.ico" width=16 height=16/> [`anzu`](https://melpa.org/#/anzu)
:octocat: [Repository](https://github.com/syohex/emacs-anzu)

[2017-03-25 20:44] #19 closed

[2017-03-25 20:44] #18 closed

[2017-03-25 20:44] #17 closed

[2017-03-25 20:44] #16 closed

[2017-03-25 20:44] #15 closed

[2017-03-25 20:44] #14 closed

[2017-03-25 20:44] #13 closed

[2017-03-25 20:44] #12 closed

[2017-03-25 20:44] #11 closed

[2017-03-25 20:44] #10 closed

[2017-03-25 20:45] #9 closed

[2017-03-25 20:45] #8 closed

[2017-03-25 20:45] #7 closed

[2017-03-25 20:45] #6 closed

[2017-03-25 20:45] #5 closed

[2017-03-25 20:45] #4 closed

[2017-03-25 20:45] #3 closed

[2017-03-25 20:45] #2 closed

[2017-03-25 20:45] #1 closed

[2017-03-25 22:16] gregf opened #20 "nord not on melpa or any other repository"
I can't seem to find the nord theme on any of the listed repositories listed below.

[2017-03-26 05:52] arcticicestudio commented on #20
Thanks for your notification 👍
It will be available as soon as [melpa/melpa PR #4655](https://github.com/melpa/melpa/pull/4655) is mergeable also described in the backlog issue comment [arcticicestudio/nord #6](https://github.com/arcticicestudio/nord/issues/6#issuecomment-289239005) posted yesterday.
One of the Melpa maintainers reviewed the package and created PR #21 to fix some format issues whi

[2017-03-26 05:52] #20 closed

[2017-03-31 20:08] arcticicestudio commented on #20
The PR has been merged and [nord-theme](https://melpa.org/#/nord-theme) is now available from MELPA.

[2017-04-01 17:31] jcinnamond opened #23 "Comments are hard to read"
Nord is lovely, but I'm finding it hard to read comments with them set to nord3:

![nord3](https://cloud.githubusercontent.com/assets/27396/24580911/0a4834ca-1709-11e7-93c8-adac18eb415a.png)

What do you think about changing it to nord9? I can create a PR with the change if you're happy with it, but if everyone prefers the de-emphasized current scheme then I'll just change my local copy:

![nord9]

[2017-04-03 11:28] spegoraro opened #24 "Point is very hard to see"
Nice theme!

The current version on melpa, 20170325.2314, has an almost invisible point as seen in this screenshot:
![screenshot_20170403_192528](https://cloud.githubusercontent.com/assets/1013596/24607315/a903f784-18a3-11e7-8d07-116c779a1739.png)

[2017-04-03 15:10] cavd opened #25 "Mode line in inactive windows is nearly invisible"
When there are multiple windows, it is nearly impossible to see the (e.g.) buffer name of inactive windows.

[2017-04-03 18:06] arcticicestudio commented on #25
The inactive modeline has been designed to be colored with the base background color `nord0` and only the active window modeline should be colored with `nord2` to make it easy to see which window is active.
Normally only the background should be changed and texts should be readable.

Can you post a screenshot please so I can see whats going on there?
Also please post a list of all emacs packages y

[2017-04-03 18:09] arcticicestudio commented on #24
Thanks for your report and nice to see you like it 👍

Do you mean the cursor when you say "Point"? Else I can't see anything conspicuous on the screenshot.

[2017-04-03 18:16] arcticicestudio commented on #23
Thanks for your report and nice to see you like it 👍

It looks like there are general color problems since the background it definitely not part of the Nord color palette. The color of the code also looks strange except the comments which are colored correct. but are hard to read related to the background color.

I'm not a Windows user so you may need to help me out there.
  - Is Emacs running in

[2017-04-04 00:43] spegoraro commented on #24
Yep, that's what I mean. Setting its background to the foreground colour of the `default` face looks nice.

[2017-04-04 03:06] stardiviner commented on #25
The inactive mode-line face does need to be more distinct.

[2017-04-04 03:08] stardiviner opened #26 "The underline of text is not very distinct"
Can you make the underline of text to be more distinct like bold face ?

[2017-04-04 06:12] arcticicestudio commented on #24
I've only set the `foreground` attribute instead of the `background` as documented.

   Currently, only the ‘:background’ attribute is meaningful; all
   other attributes are ignored.
  The cursor foreground color is taken from the background color of the underlying text.

[2017-04-04 06:44] spegoraro commented on #24
Yeah so if you change the cursor face line from:
[code]
to:
[code]
it will look fantastic!

[2017-04-04 09:58] cavd commented on #25
Here is a screenshot with Emacs started with -Q, then loading nord-theme:
<img width="1099" alt="screenshot 2017-04-03 at 6 03 09 pm" src="https://cloud.githubusercontent.com/assets/261342/24651379/3485b3f2-18f3-11e7-8d3e-2ecc63077896.png">

The inactive window is on the left.

[2017-04-04 19:45] microamp opened #27 "Magit Support"
Some Magit commands still displaying default colours, e.g. `magit-log-current`

[2017-04-04 19:46] microamp commented on #27
Screenshot:
![magit-log-current](https://cloud.githubusercontent.com/assets/1378791/24675616/f674fa5a-19d3-11e7-9458-600ed2d27b37.png)

[2017-04-04 19:49] microamp opened #28 "which-function-mode support"
Currently,

![screen shot 2017-04-05 at 7 48 11 am](https://cloud.githubusercontent.com/assets/1378791/24675712/51d64a2a-19d4-11e7-9504-476571209756.png)

[2017-04-04 19:53] microamp commented on #27
By the way, I like the theme a lot. Awesome work!

[2017-04-05 11:13] mandarvaze commented on #23
I just installed this on macOS
Lovely theme.

But I too have same problem - comments are hard to read (python, if it matters)

[2017-04-05 14:15] jcinnamond commented on #23
Thanks for replying to this @arcticicestudio. You're right about the background - I had an entry in my .emacs file from `customize` that was overriding the theme. I've removed that so I now have the proper nord background. I still think that comments are hard to read. It's particularly bad if you highlight a region. Here is the same file with the correct background color and a region highlighted:

[2017-04-05 14:46] cavd commented on #25
For comparison's sake, here is a similar layout with the vim nord theme:
![vim-nord](https://cloud.githubusercontent.com/assets/261342/24711152/c0f5fc88-19e4-11e7-9fca-87731c47582d.png)

[2017-04-06 12:32] arcticicestudio commented on #25
I've changed the `foreground` for inactive `mode-line`s to `nord4`.
You can test the changes in 🌱 [improvement/ghi-#25-mode-line-in-inactive-windows-is-nearly-invisible](https://github.com/arcticicestudio/nord-emacs/tree/improvement/ghi-%2325-mode-line-in-inactive-windows-is-nearly-invisible)

[2017-04-06 13:10] arcticicestudio commented on #23
@mandarvaze  The low contrast for comments has been selected specifically to not disturb code flow and keep the focus of the developer on the code. Using other colors for it like e.g. `nord7` would completely mix the separation between the code and comments. `nord7` is used for classes/types/interfaces/documentation tags and you would be unable to differ if it is part of the running code or just a

[2017-04-06 13:15] arcticicestudio commented on #26
Can you explain this in detail?
Do you mean to change the weight (height) of it so the line is thicker?

[2017-04-06 13:23] arcticicestudio commented on #27
Thanks for your report 👍
Is there a list of available faces for magit and a way to test them? I'm not a Emac user and its hard to style such elements without having a test setup or at least a list to list of face names I can derive their functionallity of.
I'm only aware of `list-faces-display`, but this only lists faces which are used in the current buffer.

[2017-04-06 14:03] arcticicestudio commented on #28
<p align="center"><strong>Before</strong><br><img src="https://cloud.githubusercontent.com/assets/7836623/24758354/6ed3c51c-1ae2-11e7-8a18-b58c1d0e6185.png"/><br><strong>After</strong><br><img src="https://cloud.githubusercontent.com/assets/7836623/24758374/7bc489aa-1ae2-11e7-9eba-6657425a3936.png"/></p>

[2017-04-06 14:29] stardiviner commented on #26
I mean the underline line color should be more distinct.

[2017-04-06 15:14] arcticicestudio commented on #26
Normally the line should adapt the color of the word. The fallback color is set to the default text color `nord4` which should be recognizable in most cases.

It is totally fine if you do not agree to all highlighting color assignments, everyone has different preferences. That is the reason why themes exist 😉
If you like to use another default color you can override the face in your `~/.emacs.d/in

[2017-04-07 06:28] stardiviner commented on #26
I see, thanks.

[2017-04-07 06:28] #26 closed

[2017-04-07 08:39] jcinnamond commented on #23
Thanks again @arcticicestudio for replying to this and for the great work with Nord. I'll stick to overriding it in my local config.

[2017-04-07 08:39] #23 closed

[2017-04-07 09:32] cavd commented on #25
Looks good to me.

[2017-04-07 16:45] mandarvaze commented on #23
@jcinnamond Can you share your local config details ? It would be helpful to those that need it.

[2017-04-10 11:30] stardiviner opened #29 "region background color is same with hl-line"
Because `region` face background color is same with `hl-line` face background. So when region select a string in current line has no distinct color. Hope you can improve this.

[2017-04-10 16:19] jcinnamond commented on #23
@mandarvaze my full config is here: https://github.com/jcinnamond/emacs

The pertinent bits are:

[code]

[2017-04-16 12:21] spegoraro commented on #24
Look great now! Thanks!

[2017-04-16 12:21] #24 closed

[2017-04-17 08:44] arcticicestudio commented on #29
Can you post a screenshot of the problem?
Both groups should not disturb each other since `region` uses `nord1` and `hl-line` uses `nord2`.

Have you checked if you've set color rules which override specific groups of the theme?

[2017-04-17 09:11] #28 closed

[2017-04-17 09:11] #25 closed

[2017-04-17 09:13] arcticicestudio commented on #24
🚢 Shipped with MELPA package release version 🏷 [0.2.0](https://github.com/arcticicestudio/nord-emacs/releases/tag/v0.2.0).

[2017-04-17 09:13] arcticicestudio commented on #25
🚢 Shipped with MELPA package release version 🏷 [0.2.0](https://github.com/arcticicestudio/nord-emacs/releases/tag/v0.2.0).

[2017-04-17 09:13] arcticicestudio commented on #28
🚢 Shipped with MELPA package release version 🏷 [0.2.0](https://github.com/arcticicestudio/nord-emacs/releases/tag/v0.2.0).

[2017-04-17 09:18] stardiviner commented on #29
Now seems solved. Days ago it is same color, maybe my config issue. Thanks.

[2017-04-17 09:18] #29 closed

[2017-04-25 16:04] localredhead commented on #29
I have the same problem with the default theme - they may be slightly different colors but I cannot tell on my macbook pro.

[2017-04-25 22:33] localredhead opened #32 "Active and inactive modelines are hard to distinguish, as well as region highlight."
I have to squint on these two items., otherwise this is a perfect theme.

1.  I can barely tell what is selected in the region
1.  It is hard for me to distinguish between modelines.

Is this the right amount of contrast for the theme?
<img width="842" alt="screen shot 2017-04-25 at 3 29 46 pm" src="https://cloud.githubusercontent.com/assets/152448/25410547/5233acbc-29cc-11e7-9f45-84531fa78e81.png

[2017-05-06 15:12] arcticicestudio commented on #32
It is not easy to implement this when the theme engine is limited to pure HEX values. In other port projects it is possible to improve this by using transparency or advanced theming features like CSS.
Maybe I'll implement a theme setting which allows to percentage increase the comment color like the one in the [Nord Atom UI](https://github.com/arcticicestudio/nord-atom-syntax/pull/47).

[2017-05-06 15:46] arcticicestudio commented on #23
I've posted [this comment](https://github.com/arcticicestudio/nord-emacs/issues/32#issuecomment-299646111) in #32 which is related to this issue.

[2017-05-07 21:16] microamp opened #37 "Support yaml-mode"
`yaml-mode` currently unsupported

[2017-05-09 03:05] localredhead commented on #32
For what its worth, I think a simple solution would be to invert the color on the inactive modeline, and use the current inactive color for a boxed edge and text.  IMO that would solve it nicely.

I did have a version like this that I can try and submit as a PR somewhere...  I did tinker a bit with it.

[2017-05-19 01:51] microamp opened #38 "Support conf-mode"

[2017-09-24 13:40] arcticicestudio opened #41 "Add license header keyword"
Add a license header keyword to help tools to automatically detect the license type as used by GitHub and Emacsmirror ([`licensee`](https://github.com/benbalter/licensee)).

[code]

[2017-09-24 13:50] #41 closed

[2017-09-24 14:14] arcticicestudio commented on #38
Sorry for the late reply, unfortunately I haven't got much free time to work on my projects. Could you provide a example and a screenshot?

[2017-09-24 15:13] arcticicestudio commented on #37
Sorry for my really late reply, unfortunately the free time for my projects has been rare.

I've tried to implement styles for the [`yaml-mode`]() package, but the only face definition is `yaml-tab-face` which marks *tab* characters since they are not allowed for YAML. All other faces are [linked to the default `font-lock-*` faces](https://github.com/yoshiki/yaml-mode/blob/master/yaml-mode.el#L236

[2017-09-30 06:59] arcticicestudio opened #43 "Theme customization: Custom Comment Brightness"
## Introduction

The low contrast color of comments is by design of Nord and has been selected specifically to not disturb code flow and keep the focus of the developer on the code. It is totally fine that users not agree to all highlighting color assignments, everyone has different preferences. That is the reason why themes exist 😄

Anyway, since I've got a bunch of tickets on various port projec

[2017-09-30 15:45] arcticicestudio opened #45 "Theme customization: Region Highlight Style"
## Description

A theme customization should be added to allow users to set a style for the region highlighting either to `snowstorm` or `frost`, providing a way for users to adjust the colors to fit their needs.

The default should be left to `nord2` as background- and no specific foreground color.

The customization should be available through the `nord-region-highlight` variable of type `string

[2017-10-01 06:40] arcticicestudio opened #47 "Theme customization: Uniform Mode Lines"
## Description

A theme customization should be added to allow users to enable uniform activate- and inactive mode lines using `nord3` as background. The default should be left to `nord1` as background color.

### Default mode lines - Different background colors for active- and inactive mode lines

This option should make use of contrast difference by using different background colors for active (

[2017-10-01 07:05] arcticicestudio commented on #32
@localredhead I've implemented two theme customization

*  for different region highlight styles in #46
* for uniform mode lines in #48

Feel free to check out and post some feedback.

[2017-10-02 08:56] stardiviner commented on #43
This is really very impressive. Thanks a lot. I want this comment color highlight brightness for a long time. Because there is a issue posted before. but not improved a lot. This time is very good on comment and region (on another issue post). Thanks. REALLY.

[2017-10-02 09:23] arcticicestudio commented on #43
@stardiviner Nice to see you like it :smile:

I'll merge the PR tomorrow and prepare a new release version.

[2017-10-05 14:52] arcticicestudio commented on #38
I've tested the colorization in `conf-mode` with *Windows Mode* (*WinINI*) and it works fine. There are also no specific faces defined, it makes use of the default `font-lock-*`  faces.

![gh-38-scrot-conf-mode-windows-ini](https://user-images.githubusercontent.com/7836623/31233706-8137addc-a9ed-11e7-83b8-afccc036dc36.png)

[2017-10-05 15:00] #43 closed

[2017-10-05 15:12] #45 closed

[2017-10-05 15:12] #32 closed

[2017-10-05 17:39] #47 closed

[2017-10-05 17:50] arcticicestudio opened #49 "Update renamed Terminix to Tilix banner"
The Terminix project has been renamed to [Tilix](https://github.com/gnunn1/tilix). The banner to the [Nord Tilix](https://github.com/arcticicestudio/nord-tilix) port project should be updated.

[2017-10-05 17:52] #49 closed

[2017-10-09 17:24] cryptomaniac512 opened #51 "Python docstrings are very pale"
Docstrings in python are not readable if not to establish illumination of the display on a limit. Is it possible to make it a little more noticeable?
![image](https://user-images.githubusercontent.com/10251687/31350388-4c860d6a-ad6a-11e7-9e60-bb2bf9ce905c.png)

[2017-10-09 18:39] arcticicestudio commented on #51
There's a [theme customization to define a custom comment brightness](https://github.com/arcticicestudio/nord-emacs/issues/43) which has been implemented and merged in #44. It will be available with version [0.4.0](https://github.com/arcticicestudio/nord-emacs/projects/8). I try to prepare and release it by the end of the week.

[2017-10-09 18:43] #51 closed

[2017-10-11 03:01] cryptomaniac512 commented on #51
Looks good! Thank you!

[2017-10-12 04:46] cryptomaniac512 opened #52 "Decorators highlighting in python"
What about the highlighting of Python decorators with color different from classes and methods?
For example screenshots from Emacs (first) and Visual Studio Code (second)
![image](https://user-images.githubusercontent.com/10251687/31479674-1c559982-af5c-11e7-83ec-3c6046462f13.png)
![image](https://user-images.githubusercontent.com/10251687/31479680-22e4b51c-af5c-11e7-836c-ff23429e2ddc.png)

[2017-10-12 07:54] arcticicestudio commented on #52
I've tried to add the [`py-decorator-face` face](https://github.com/emacsmirror/python-mode/blob/master/python-mode.el#L2327), but it seems to have no effect because the decorator uses (inherits) the `font-lock-type-face`.

[2017-11-13 20:36] basille opened #53 "Support polymode"
Thanks for this wonderful theme, very relaxing!

Do you have any plan to support [polymode](https://github.com/vspinu/polymode)? Polymode allows to have multiple major modes in the same buffer, as a series of chunks from one mode or the other. It can be very useful for Org files, or Markdown files with YAML headers, or any combination using R (RMarkdown, R knitr, etc.). As it is now, "embedded" ch

[2017-11-14 05:00] arcticicestudio commented on #53
Glad to see you like the theme :smile:

If you'd like to try it on your own and submit a PR you can add this function and the matching key mapping to your `init.el`:

[code]

[code]

Pressing <kbd>Ctrl</kbd>+<kbd>x</kbd> followed by <kbd>Ctrl</kbd>+<kbd>w</kbd> will show the face at the cursor position.

You can also show all used faces in the current buffer via `list-faces-display`.

[2017-11-23 04:01] basille commented on #53
Sorry it took me so long to come back to this issue… because it actually magically solved! It took me a while to figure out what happened. Here is what I have now:

![screenshot from 2017-11-22 22-57-14](https://user-images.githubusercontent.com/4000337/33158528-a12d280e-cfd8-11e7-83cb-ed2c2191fa6f.png)

… which is just perfect. If I understand it correctly, it turns out that it may come from the

[2017-11-23 04:01] #53 closed

[2017-11-23 14:28] arcticicestudio commented on #53
Alright, thanks for the feedback :+1:

[2017-11-30 22:52] DVN196 opened #54 "Using degraded color (avoid using color name)"
I use emacsclient on both terminal and gui and I use after-make-frame-functions to reload nord-theme when open a new frame to correct the color. But if I have a GUI frame opened and tried to open emacsclient on terminal, it will crash immediately because there are no definition for bright colors on emacs GUI. Can we use something similar to [solarized's](https://github.com/sellout/emacs-color-them

[2017-12-30 15:46] dylnmc opened #56 "left margin matches left char with global-linum-mode"
![emacs](https://user-images.githubusercontent.com/7635158/34455539-1957aa32-ed4f-11e7-9ee4-de9774ed84b9.png)

When there is a button flushed left and `global-linum-mode` is enabled, the button extends into the left margin (where the linums exist).

The theme `leuven` has the same problem. Most of the other themes I have seen do not try to do this.

Is this something that the theme should turn off

[2017-12-30 19:08] arcticicestudio commented on #56
Try to set `(setq linum-format "%d ")` in your config which allows to define the formatting of the line number. it documented for `linum` in the chapter about [separating line numbers from text][ref].

I think this config should not be handled by any theme, each users might like to format the gutter to fit their needs, but the underline and button border which are also rendering in the gutter seem

[2017-12-31 08:30] dylnmc commented on #56
doesn't work for me

[2017-12-31 08:46] arcticicestudio commented on #54
Sorry for the late reply :watch:

Unfortunately I can not completely follow your description about the problem. The `bright*` color names are necessary to make the theme compatible for 16-bit environments like a terminal. The colors of Solarized are [defined the same way][ref-sol-col] except that it includes more definitions like e.g. 8-bit colors.

I'd be nice if you can post reproduction step-by

[2017-12-31 16:45] dylnmc commented on #56
I don't know what is wrong with emacs. I am just not going to use linum-mode … Very strange. :confused:

[2017-12-31 17:01] dylnmc commented on #56
Under `custom-set-faces`, I have put:

[code]

(in reality, I just used `M-x customize` search \~`Linum`\~> `Linum faces` ~~> disable all face attributes. Looks fine now (`Revert` button still a little weird):

![screenshot from 2017-12-31 11-58-55](https://user-images.githubusercontent.com/7635158/34463190-2589ce10-ee22-11e7-820b-cfca09ef3498.png)

Closing because not issue with theme (unless you

[2017-12-31 17:01] #56 closed

[2018-01-02 15:47] arcticicestudio opened #57 "Migrate to MIT license"
Adapt to the MIT license migration of the main [Nord][nord] project. Detailed information can be found in the main task ticket.

### Tasks

* [x] Update all license SVG badges
* [x] Update the `LICENSE.md` content
* [x] Update- and simplify all source code comment header

[nord]: https://github.com/arcticicestudio/nord

[2018-01-02 18:01] #57 closed

[2018-01-18 15:32] zvbuhl opened #59 "Theme does not load with `emacs --daemon`"
If emacs is started with `emacs --daemon`, the nord theme will not properly load, but will instead display as grey-on-white; there are many messages like the following:

[code]

I believe that this is because in daemon mode there is no terminal, and thus nothing to send the colour names to. I think that the fix is to use the color class system as documented in [Defining Faces](https://www.gnu.org/

[2018-01-21 00:55] gutigen commented on #59
`(if (daemonp)
	    (add-hook 'after-make-frame-functions
		      (lambda (frame)
			(with-selected-frame frame (load-theme 'nord t))))
	  (load-theme 'nord t))`

This fixed it for me.

[2018-01-22 16:31] zvbuhl commented on #59
@gutigen, the problem with that is that it reloads Nord with  every single new frame.

I got some code together using the class system, but it's horribly ugly code. I think I need to try a new approach.

[2018-01-27 17:22] JonathanReeve opened #61 "Nord colors for org habits consistency graph"
Some themes use theme colors for the org habits consistency graph (in the org agenda view), which is a lot more pleasant than seeing theme colors everywhere, but bright red, bright yellow, etc, in the habits graph. I imagine this is as simple as linking four or five color names together, and would be a big improvement for me and others that use org mode.

[2018-01-27 17:24] JonathanReeve commented on #61
For instance, here is how the `gotham` theme does it:
https://github.com/wasamasa/gotham-theme/blob/master/gotham-theme.el#L931

[2018-05-21 19:55] Linuus commented on #27
@arcticicestudio perhaps this could help?
https://github.com/bbatsov/zenburn-emacs/blob/master/zenburn-theme.el#L884-L968

Zenburn is pretty complete IMO.

[2018-07-11 08:01] brainlessdeveloper opened #63 "Region/selection background color is unlike the default region highligh in the README"
Hello there and thanks a _lot_ for the awesome colorscheme!

In Emacs, I'm getting region selections highlighted like this:

![image](https://user-images.githubusercontent.com/16181067/42558180-c2418c60-84f0-11e8-98c1-ab26586088c0.png)

I've tried configuring it "back" to `default` with `(setq nord-region-highlight "default")`, which is a bit silly, but I keep getting the pink selection highlight.

[2018-08-22 02:02] jaccarmac commented on #59
To avoid the load-on-every-frame problem I whipped up a variant using `cl-labels`.

[code]

Note that this requires `lexical-binding: t`. Without lexical binding something like `cl-letf` would need to be used instead of `cl-labels`.

[2018-08-22 03:42] arcticicestudio commented on #59
Sorry again for the delay. There's another issue about the ANSI color definitions so maybe I'll check how to better implement these to avoid the named "bright" colors listed above in the error log.

[2018-08-24 07:40] JesusMtnez opened #65 "Wrong color in terminal"
I'm trying to use this theme on my personal emacs configuration. But colors are not correct if I opened emacs in a terminal.

- OS: `Linux Sirius 4.18.4-arch1-1-ARCH #1 SMP PREEMPT Wed Aug 22 07:33:26 UTC 2018 x86_64 GNU/Linux`
- Terminal: gnome-terminal with nord-theme (I've also tried tilix with nord-theme, and the result is the same).
- `$TERM` = `xterm-256color`
- GNU Emacs 26.1
- Emacs setup

[2018-08-24 09:20] JesusMtnez commented on #65
After some digging, it seems that I had some values in `custom.el` (autogenerated) that were messing with my theme configuration. I've just removed it and restarted emacs, and it works! :+1:

[2018-08-24 09:20] #65 closed

[2018-08-30 17:10] dylangleason commented on #63
This also appears to be an issue for me.

#### Environment
[code]

Terminal Emulator: iTerm2, Build 3.2.0
Terminal Theme: Nord

[2018-09-13 16:34] slippycheeze opened #66 "nord-theme leaks unprefixed names to the global environment"
Sadly, Emacs Lisp has no namespaces, so every top level definition is visible to the entire universe.  That includes variables and functions.

The current nord-theme defines one of each, `nord-brightened-comments` and `brightened-comment-color`, which are leaked.

The former is ... ok, though not best practice.  The later has a chance of conflicting with anything else that uses a similar global na

[2018-09-13 17:47] arcticicestudio commented on #66
Thanks for your contribution :+1:

That's another point for the „today I learned…“ list!
I've never coded something in (Emacs) Lisp before except this theme so this is a nice info for latter implementations.

[2018-09-13 17:49] #66 closed

[2018-09-13 19:26] slippycheeze commented on #66
@arcticicestudio, thank you so much for the work!  I have a few more things on my list to help improve, one key one being at the heart of #59, which I'll submit the same way ... hopefully in the next few days, depending. :)

[2018-09-13 19:47] arcticicestudio commented on #66
That's awesome, I'm happy about any help! It bothers me a lot that I could not solve some of the open issues in this repository due to the missing experience with Emacs and the fact that even after searching through many documentations and tutorials not able to find a up-to-date or correct solution. There are also not always ways to reproduce some of the problems.

In short: OSS lives from contrib

[2018-10-01 10:41] egnha commented on #52
@sivakov512: You can "fontify" decorators by adding a regular expression for them to the keyword list for font locking. (This has nothing to do with Nord theme, specifically, cf. docs on [font locking](https://www.gnu.org/software/emacs/manual/html_node/emacs/Font-Lock.html).)

For example, try adding the following to your Emacs config:
[code]

You should get something like this (aside from the cu

[2018-10-01 18:20] arcticicestudio commented on #52
@egnha Thanks for your explanation and examples, this looks like a really promising solution :rocket:
Would you like to submit a PR for this? Nord uses [`nord12`][] for annotations/decorators if you'd like to go for it.

<p align="center"><img src="https://hacktoberfest.digitalocean.com/assets/hacktoberfest-2018-social-card-c8d2e1489f647f2e0a26e6f598adeb760872818905b34cd437afc7ac2857ceab.png" widt

[2018-10-01 18:28] egnha commented on #52
I’d be glad to submit a PR (though I won’t be able to get around to that until the weekend). Thanks for the 👕 offer :)

[2018-10-01 19:38] arcticicestudio commented on #52
@egnha Take your time, there's no time pressure.
You can register on their site by simply logging in with your GitHub account (via OAuth) and as soon as you submited 5 PRs in october to any open source project on GitHub they'll send you a T-Shirt and some other swag like a certificate of participation :smile:

[2018-10-17 13:49] egnha commented on #52
In the meantime, a more robust regex to identify decorators:
[code]

[2018-11-11 11:19] christopherraa commented on #63
Same observed here. Environment:

[code]

I have also notices that `nord-comment-brightness` have no effect, meaning the comment brightness never change. Nord theme is used in `gnome-terminal`, `tmux` and `emacs`.

[2018-12-16 08:14] arcticicestudio commented on #59
Sorry for the long absence, I've been busy again with my job and work on the official [Nord Docs][nd] with the [goal][nd1] to finally have a single-source-of-truth for all of Nord's port projects. Anyway, I'd like to get some of the long-time queued issues of some port projects done, including this one.

@somesoup emailed me and submitted #68 that includes a fix for the daemon mode problem. @zvbuh

[2019-04-06 15:11] fmnoise opened #70 "cider evaluation result looks unreadable in terminal"
Cider evaluation result is not readable in iterm2, nord-iterm2 installed

![image](https://user-images.githubusercontent.com/4033391/55671275-368c9680-5897-11e9-970e-c2bbe25b277b.png)

[2019-04-09 16:59] arcticicestudio commented on #59
@slippycheeze Thanks, this helps a lot and looks like the way to go. Absolute no problem for the delayed response time. Unfortunately, I have the same problem that the day only has 24h and necessary real life tasks absorbing almost all of it :unamused:

Since this is a open source project, everyone is free to go for it and submit a PR if it should be merged into this project. As soon as I'm done w

[2019-04-09 18:11] jaccarmac commented on #59
Might look at PR'ing this. Are there guidelines for what the Nord colors are in smaller color spaces or should I just eyeball it for 24-bit and 16-color displays?

[2019-04-23 13:02] To1ne opened #72 "Add a light variant"
Wow, this theme is gorgeous and well executed. Excellent work!

But have you considered a light variant (light background) of this theme?

[2019-04-23 13:33] arcticicestudio commented on #72
Hi @To1ne 👋 , thanks for your contribution 👍

There's arcticicestudio/nord#46 that documents the plan for a light theme that'll be implemented for all port projects, but there are currently more urgent tasks like the transition of docs and assets to the [new official Nord website](https://www.nordtheme.com).
There are also some links by users who also already created light themes for ports like Em

[2019-04-23 15:01] To1ne commented on #72
Thanks for the swift reply. That's awesome. I'm looking forward to see the light theme happen.

Feel free to close this issue and use https://github.com/arcticicestudio/nord/issues/46 instead.

[2019-04-23 19:02] #72 closed

[2019-05-08 06:44] arcticicestudio opened #73 "Comment Color Brightness"
This issue will implement the increase of the comment color (`nord3`) brightness by 10% from a lightness level of ~35% to ~45%.

➜ Please see https://github.com/arcticicestudio/nord/issues/94 for all details about this design change decision.

:warning:  **NOTE**: This will also deprecate the [custom comment brightness][cc] configuration because it won't be necessary anymore for users to increase

[2019-05-09 06:52] #73 closed

[2019-05-10 14:59] janusvm opened #75 "show-paren-match face not themed in Emacs 26"
Came across this while adapting my config for Emacs 26.2 coming from 25.3

It seems as if something changed between Emacs versions 25 and 26 wrt. how the names of faces are parsed, which causes the following lines to work fine in Emacs 25, but not 26:

https://github.com/arcticicestudio/nord-emacs/blob/9ed7b9c2d1bb68ae86d06f97d215d2883e4ff0d2/nord-theme.el#L273-L274

seemingly due to the names of

[2019-06-09 19:36] arcticicestudio opened #76 "Nord Docs Transition"
<p align="center"><img src="https://raw.githubusercontent.com/arcticicestudio/nord-docs/master/src/assets/images/metadata-banner.svg?sanitize=true" width="888px" /></p>

This issue documents the transfer of all documentations and content assets of _Nord Emacs_ to the [shiny new website and documentation of Nord][nord], the new single-source-of-truth™.

<p align="center"><img src="https://user-imag

[2019-06-16 14:38] #76 closed

[2019-06-18 10:43] gtms opened #78 "line-number-current-line not themed"
The top screenshot on the readme page shows the current line highlighted with a different face (line 20, in white), suggesting that `line-number-current-line` is themed. However, grepping for this variable throughout `nord-theme.el` does not yield any result.

As a result, nord-theme-20190616.1757 does not highlight the current light number as advertised. Is this a versioning issue?

[2019-06-18 12:16] arcticicestudio commented on #78
Hi @gtms :wave:, thanks for your contribution :+1:
The screenshot was taken on my local system that uses the development state of the theme so this might be a bit confusing. The theme key will be added with the next release version in a dedicated new issue.
I'll let this issue open in order to track the status and notify you when the key has been implemented.

[2019-06-18 23:27] rien333 commented on #59
The newest release made this a lot worse. Basically no colors seem to be available and @accarmac init.el addition fails to connect to the daemon completely, with no output.  (emacs just briefly flashes and then quits). The daemon is running, but there is no way to connect to it.

[2019-06-19 06:53] zvbuhl commented on #59
@rien333 I just upgraded to 0.4.0 (20190616.1757) and it seems to work okay. Still loads as light-blue on white, but I’m able to load the theme manually once I’ve got an X frame open, and then proceed as normal.

[2019-06-19 07:44] rien333 commented on #59
Fixed by using the code from PR #64 (that adds a proper 24-bit check) and the daemon solution provided by the "ghost account". When using the solution provided by @jaccarmac my emacsclient  just doesn't connect, and I havent been able to get useful debug info from it. (I've seen emacs complain about `cl-labels` before, maybe it's something about that. Manually loading the theme also works fine now

[2019-06-19 07:54] arcticicestudio commented on #59
@rien333 Thanks for your feedback, this helps to decide which of the already four proposed solutions might work the best for latest and older versions 👍

[2019-06-19 11:22] janusvm commented on #75
After digging around a bit, I found that `show-paren-match-face` and `show-paren-mismatch-face` were declared as obsolete face aliases for `show-paren-match` and `show-paren-mismatch`, respectively, since version 22.1, and they were then completely removed somewhere in version 25 (commit [`c430f7e23f`](http://git.savannah.gnu.org/cgit/emacs.git/commit/?id=c430f7e23fc2c22f251ace4254e37dea1452dfc3)

[2019-06-19 11:56] arcticicestudio commented on #75
Hi @janusvm :wave:, thanks for your contribution :+1:
Good catch, I've also noticed the defined styles of matching braces changed or respectively aren't respected at all. Thanks a lot for researching the commits and docs!
I guess simply adding the new key names should be fine, there's no need to rename or remove the deprecated ones since Emacs will decide which to use based on the version. This me

[2019-06-19 18:47] jaccarmac commented on #59
@rien333 Are you using `lexical-binding: t`? That's probably the easiest way `cl-labels` would fail. Perhaps I should whip up a non-lexical solution so it works for more people.

[2019-06-19 20:41] rien333 commented on #59
That variable is nil, according to emacs. I also don't alter in my init.el, nor does setting it to `t` have any effect. It's somewhat weird actually if I'm the only one that has problems with your snippet, I probably need to bisect my init.el.

As an aside, I'm using the [kitty terminal emulator](https://sw.kovidgoyal.net/kitty/index.html), with 24-bit support in emacs made available by a `.termin

[2019-06-19 21:18] jaccarmac commented on #59
It needs to be set with a file-local variable as in [my config](http://chiselapp.com/user/jaccarmac/repository/dot-emacs-dot-d/artifact/6278c492073e2b3f) (see top), otherwise `cl-labels` will not work properly in that snippet. Otherwise you'll need to use `cl-block` or `cl-letf`; I just set my init file as lexical so can't tell you exactly how to do so.

Further information about `lexical-binding`

[2019-06-19 22:20] zvbuhl commented on #59
Here’s an attempt not to rely on the setting at daemon-start time. It’s a mechanical translation, and it’s embarrassingly unabstracted, but … maybe it’s a start?

https://github.com/zvbuhl/nord-emacs/tree/theme-tty

[2019-06-19 22:42] rien333 commented on #59
@jaccarmac, the addition on top of the file did the trick, thank you for your assistance and the resources on lexical-binding; I wan't completely familiar with the subject yet.

[2019-07-06 19:47] aiguofer commented on #59
So... I'm having a bit of a different issue than most folks here. I'm running emacs off `systemctl --user` using `emacs --fg-daemon`.

The theme works great in either terminal (`emacsclient -t`) or as a frame in X (`emacsclient -c`). The problem is that it doesn't work in both... it's one or the other (whichever starts first). This is an issue for me because I don't use emacsclient directly but in

[2019-07-06 20:14] rien333 commented on #59
It might be that I'm missing something important, but it seems to me as if you start emacs the same way I do. I can use the nord-theme fine in either an X frame or in my terminal, and my systemd unit file shows that I also start emacs with `emacs --fg-daemon`. Is there something different about your setup? Not sure if it's relevant to you, but I remember all my problems going away when I patched w

[2019-07-06 20:40] aiguofer commented on #59
@rien333 thanks for your input! unfortunately that still didn't solve it for me... if it makes a difference, I'm running tmux inside terminator for the console. I've got the nord-theme set up for terminator and using `set -g default-terminal screen-256color` in tmux.

[2019-07-06 21:02] rien333 commented on #59
I'm seeing the same behavior as you if I run tmux _with_ `set -g default-terminal screen-256color`.

However, if I use `TERM=kitty-24bit emacsclient -t` in  tmux---a terminfo file I need to use in order for emacs 24-bit support and my terminal to work together---it works fine. Not sure if I'm telling you stuff you already know, but yeah the `TERM` variable/terminfo or tmux could be the problem.

[2019-07-06 21:20] aiguofer commented on #59
@rien333 thanks! yeah just figured that out... after a bit of googling I finally got it working following [this post](https://www.reddit.com/r/emacs/comments/9vqhsz/true_24bit_color_in_terminal_emacs/e9eemak?utm_source=share&utm_medium=web2x), with the difference that I went ahead and put `TERM=screen-24bit` in my `.zshrc`

[2019-08-02 12:03] oscarfv opened #79 "trailing-whitespace missing background"
`trailing-whitespace` only specifies foreground (which is useless for whitespace), not background, so default background is used and whitespace is invisible.

I suggest something like this:

[code]

Magenta is strong enough to act as a "warn" and is not confused with the red used for removed lines in diffs.

[2019-12-02 00:50] gongzhitaao opened #80 "window divider foreground vs background"
https://github.com/arcticicestudio/nord-emacs/blob/52756cdc909b29691eef228897b3de561cd99f43/nord-theme.el#L322

Setting `:background` as in the code give me

![background](https://user-images.githubusercontent.com/704995/69923493-4b93e680-1473-11ea-9749-ab6f9c7bea4e.png)

Notice the **white divider line** above the minibuffer.

Setting `:foreground` gives me:

![foreground](https://user-images.git

[2019-12-04 05:15] arcticicestudio commented on #80
Hi @gongzhitaao :wave:, thanks for your contribution :+1:
Great catch, this is a small but noticeable detail. I'll test the changes in the near future, but feel free to submit a PR if you like :smile:

[2019-12-10 05:40] zhouji0230 opened #83 "Org mode ‘=verbatim=’ and ‘~code~’ support"
The markup `==` and `~~` currently is not working in nord theme, maybe support it is great!

See the nord theme screenshot:
![image](https://user-images.githubusercontent.com/7296910/70498305-eade6b00-1b50-11ea-8ced-7a149ecafb11.png)

and screenshot with Emacs default theme:
![image](https://user-images.githubusercontent.com/7296910/70498421-43ae0380-1b51-11ea-8d06-86a50a5f692f.png)

see also: htt

[2019-12-10 08:02] arcticicestudio commented on #83
Hi @zhouji0230 :wave:, thanks for your contribution :+1:
Should be easy to both faces. Added it to the backlog, but feel free to submit a PR if you like.

[2019-12-16 18:15] eddelbuettel opened #84 "Emacs menu area 'not covered' by theme"
Big nord fan here.  Just upgraded a machine from Ubuntu 19.04 to 19.10, and now the menu bar appears to be uncovered by the theme:

![image](https://user-images.githubusercontent.com/673121/70931690-9c701700-1ffd-11ea-8009-bab63c29ead8.png)

Seemingly the 19.04 release has Emacs 26.1 whereas this now happens with 26.3.  Anybody know how I could overcome this?

[2019-12-16 20:42] arcticicestudio commented on #84
Hi @eddelbuettel, nice to see you like Nord :smile:
I guess you're running Emacs in GUI mode. I have to admit that I've never really paid attention to the menu bar color. My first guess would be that it is part of the window so the running window manager (latest Ubuntu version using GNOME so it's [Mutter][]) and the style of based on the used GTK3 theme, but I could also be completely wrong.

I'll

[2019-12-16 20:46] eddelbuettel commented on #84
I do :)  In gnome-terminal / tmux and Emacs.  I later realized that this _may_ have something to do with Ubuntu too.  Case in point is that their default them also bit the Atom editor where the menu bar is/was unavailable / invisible for at least a year (and two releases) if not more -- can probably find links.

And while I am a loooooong time x11 user I have no idea how to find the resource name

[2019-12-16 20:49] arcticicestudio commented on #84
A quick scan of the changelog for version 26.1 to 26.3 includes [a change that might be related to your problem][q]:

To build Emacs with xwidgets support, you will need to install the
webkit2gtk-4.0 package; version 2.12 or later is required.
(This change was actually made in Emacs 26.1, but was not called out
in its NEWS.)

I don't know for which elements [WebKitGTK][] is used by Emacs, but mayb

[2019-12-16 21:11] eddelbuettel commented on #84
Could well be--I just use the default binary.  On a lurk, I install emacs-lucid, and it does of course not have the problem.  (But makes me feel it is 1998 all over again, but that is a different issue ;-) )

[2019-12-17 14:13] eddelbuettel commented on #84
Actually, and one thing I just noticed -- it is also the same under the older (26.1) Emacs _when running in console mode_ for example in tmux.  Screenshot from Emacs/Magit on an (older) checkout of Nord:

![image](https://user-images.githubusercontent.com/673121/71002495-0099e600-20a5-11ea-81b2-b438198f29fb.png)

So how do we get to that menu line?

[2019-12-19 00:39] eddelbuettel commented on #84
I think it may not be you but "them", _i.e._ an Ubuntu theme issue:  https://www.linuxuprising.com/2019/10/how-to-get-dark-gnome-shell-menus-and.html

[2019-12-20 22:03] jdek opened #85 "ivy-mode support"
I think this should be relatively similar to `ido`. The relevant faces are (copied from spacemacs-theme):

[code]

[2019-12-21 08:10] arcticicestudio commented on #85
Hi @jdek :wave:, thanks for your contribution :+1:
Since I'm not a Emacs user: Is the corresponding GitHub repository [abo-abo/swiper][r] for these faces? I thought _ivy_ was renamed to _swiper_, but after some research _swiper_ seams to be a multi-package repository.

[r]: https://github.com/abo-abo/swiper

[2019-12-21 13:14] jdek commented on #85
I think you are correct, I just get it from MELPA (https://melpa.org/#/ivy), which points to that repository. I think Ivy is the main framework thing then swiper and counsel are extensions which build upon it.

[2019-12-23 13:59] kaiwk opened #86 "perspective.el support"
https://github.com/nex3/perspective-el

persp-selected-face

[2019-12-25 07:40] arcticicestudio commented on #86
Hi @kaiwk :wave:, thanks for your contribution :+1:
I guess you'd like to propose explicit plugin support for Nord. I've added it to the backlog,but feel free to submit a PR if you like.

[2019-12-27 14:29] eddelbuettel commented on #84
I think I will close this. It very appears "by design" in Ubuntu and _e.g._ goes away when selecting a dark theme via the `Tweak` tool.  And by now ... I have gotten used to it :)    All still good with Nord just about everywhere:  gnome-shell, tmux/byobu, emacs, ...

[2019-12-27 14:29] #84 closed

[2020-01-05 14:03] arcticicestudio commented on #59
I've submitted and merged #88 (superseded #64 due to stale state and merge conflicts) as a first step to fix the problem(s) documented in this issue.
A way better fix will be a refactoring of the theme colors to make use of [defined faces][f] (also mentioned by @zvbuhl and @slippycheeze) in combination with [capability tests for display feature/color support][dft].

Anyway, the next release versio

[2020-01-05 14:37] #75 closed

[2020-01-06 14:01] arcticicestudio commented on #70
Reviewed #71 and added change suggestions.

[2020-01-06 14:01] arcticicestudio commented on #85
Reviewed #87 and added change suggestions.

[2020-01-06 20:05] #70 closed

[2020-01-07 08:05] #85 closed

[2020-01-07 11:17] rien333 commented on #59
@arcticicestudio this is the first time I upgraded `nord-theme` without it breaking my colors and me having to manually intervene, so it's definitely a step forward in compatibility for my setup (I do have some other fixes from this thread applied to my `init.el`, though.). Thanks for your time and your continued support!

[2020-01-07 20:07] jaccarmac commented on #59
Can't speak to the issues folks are having in the console, but I still need my delayed-load hack for the theme to load under a daemon properly.

[2020-01-19 23:25] rien333 opened #93 "Some text elements are not colored"
Despite what the README shows, integers and other numbers do not get a purple shade, but retain the color of regular text. (tested with multiple files, including a `.go` file, as in the example). The same goes for logical operators like `!=` and `&&`.

Anybody knows why? I'm not familiar enough with emacs themeing mechanisms to say, but could this be a bug?

[2020-02-17 09:13] Linuus opened #94 "Support for ediff"
It looks like there is no support for ediff yet.
Here's a list of faces that zenburn uses:
https://github.com/bbatsov/zenburn-emacs/blob/master/zenburn-theme.el#L524-L540

[2020-02-17 10:07] arcticicestudio commented on #94
Hi @Linuus :wave:, thanks for your contribution :+1:
I've added it to the backlog, but anyone can feel free to submit a PR for it 😄

[2020-03-02 10:48] Linuus opened #95 "org-headline-done face"
The `org-headline-done` face needs a nice color. It's currently set to `LightSalmon`.

![Screenshot 2020-03-02 at 11 48 13](https://user-images.githubusercontent.com/379823/75669693-bb388e00-5c7b-11ea-8377-e1659729ff42.png)

[2020-03-04 07:06] arcticicestudio commented on #95
Hi @Linuus :wave:, thanks for your contribution :+1:
Added it to the backlog, but maybe someone would like to submit a PR beforehand.

[2020-03-15 15:38] gongzhitaao opened #96 "Use let* instead of let"
https://github.com/arcticicestudio/nord-emacs/blob/d828752e270978a56bde19986c98b1bbe8f51386/nord-theme.el#L101

It would be much easier and less error-prone if we use `let*` instead of `let`.  `let*` allows to use the variable defined before the current line.  For example:

[code]

[2020-03-17 14:56] Linuus commented on #95
Would something like this work?

![Screenshot 2020-03-17 at 15 55 39](https://user-images.githubusercontent.com/379823/76868931-e15b5200-6867-11ea-8d46-ea0f45caca0f.png)

[2020-04-07 12:09] arcticicestudio commented on #96
Hi @gongzhitaao :wave:, thanks for your contribution :+1:

That sounds like a good and inexpensive improvement 😄
Unfortunately I'm not really familiar with _Lisp_ at all so I'll need to check and test if there might be problems when it comes to the special _Emacs Lisp_ syntax derivations.
Maybe someone with more experience post some feedback or some examples/links if it is used in other popular th

[2020-04-07 12:13] arcticicestudio commented on #95
Absolutely 👍
I would have preferred `nord3` for this too. This way completed items won't get in the way of the user and keeps the focus on pending items.

Feel free to submit a PR if you like so we can get this change into the theme 😄

[2020-04-08 00:39] gongzhitaao commented on #96
Two examples:

Solarized: https://github.com/bbatsov/solarized-emacs/blob/master/solarized.el#L242
Emacs one: https://github.com/balajisivaraman/emacs-one-themes/blob/master/one-themes.el#L77

The only different between `let*` and `let` is `let*` allows you to use variables previously defined.  Some themes are not using `let*` because they don't need to access to the variable already defined, e.g.

[2020-04-09 16:05] iamriel commented on #59
EMACS version: 28.0.5
nord-theme version: 20200108.833

I encounter this issue and I have this as a fix:

[code]

I forgot where I found that snippet but credits to the owner.

It works pretty well when I open it in the GUI with `emacsclient -nc`, but when I run `emacsclient -t` in the terminal, the theme is different, and I see the `Unable to load color` errors.

Weird thing is that when I run `e

[2020-04-10 02:23] jaccarmac commented on #59
Interesting. I don't really use terminal Emacs, but decided to see how my fix fared in the same situation. And it turns out that if I start a daemon and then open a terminal client before a graphical client, the graphical client doesn't load the correct colors. If a graphical client is opened before everything plays together nicely.

[2020-04-10 07:13] arcticicestudio commented on #59
@iamriel Thanks for your help 👍

I've also noticed the exact same behavior while trying to reproduce the problem and thought it was my fault and lack of experience/usage with Emacs, but it's "good" to see that this is not scoped to my system. I'll keep this on my list for things that requires manual testing when the faces for theme colors are implemented.

[2020-04-11 15:02] noaccOS opened #97 "Support dired"
![image](https://user-images.githubusercontent.com/24324352/79047291-04ceae00-7c16-11ea-923a-0efcf4f3307a.png)

At the moment dired is not really themed correctly

[2020-04-11 18:51] arcticicestudio commented on #97
Hi @noaccOS :wave:, thanks for your contribution :+1:

I've added it to the backlog, but everyone can feel free to submit a PR 😄

[2020-04-13 22:25] TRSx80 commented on #95
I am not seeing `org-headline-done` face anywhere in [source](https://github.com/arcticicestudio/nord-emacs/blob/develop/nord-theme.el), salmon or otherwise?

What am I missing?

[2020-04-13 22:30] TRSx80 opened #98 "Deeper Org headline colors hard to differentiate"
Hallo!,

Great project, I'm really enjoying it! :smile:

But I was wondering: Am I the only one who has fair amount of typically deep levels? :smile:

For me, it makes it harder than I feel it should be to differentiate between the deeper nested levels.

I could (and probably will) just update my local config, but I like this project a lot so I figured I would at least try and contribute something

[2020-04-14 01:05] TRSx80 commented on #98
OK, maybe you guys that do UX / Design more than me already knew this, but... I had to figure it out for myself. :smile:

I am just leaving notes on what did NOT work, to try and maybe save others a little time...

First I tried doing something with the Aurora palette, it was way too loud / obnoxious for such a relaxed, subdued theme. I had even tried leaving out `nord11` and `nord14` with the ide

[2020-04-14 02:10] TRSx80 commented on #95
Hmm, now that I been [playing around with some theming](https://github.com/arcticicestudio/nord-emacs/issues/98) I noticed (by doing `M-x list-faces-display`) that "salmon" color is in fact (the default?) `org-headline-done` face (at least in there).

However, for me using (latest version, I think) of this Emacs Nord theme, none of my completed headlines appear in that salmon color, so I don't kno

[2020-04-14 08:51] Linuus commented on #95
What is the value of `org-fontify-done-headline`? It must be `t` if the done headlines should be fontified.

[2020-04-16 07:08] TRSx80 commented on #95
@Linuus,

Aha! Mystery solved! :smile:

I didn't even know about that variable (although it seems so obvious now)...

That also neatly wraps up my other concerns... People like me can do it how we like, and you guys same.

Cheers! :beers:

[2020-04-16 10:53] TRSx80 commented on #97
@noaccOS,

Why does your `dired` buffer look so strange colors? Mine looks nothing like that...

Mine looks very consistent with Nord theme:

![2020-04-16_065016_screenshot](https://user-images.githubusercontent.com/25938297/79448069-cdae2300-7fae-11ea-8c61-f6a32ab47728.png)

[2020-04-16 11:00] noaccOS commented on #97
@TRSx80 I don't know, I have set nord as the Doom Emacs theme (I'm using that distribution) and it was the normal GUI application, not the daemon in which I know the theme has problems

[2020-04-16 11:06] TRSx80 commented on #97
You have any old themes set in Custom? Go to menu (or F10) -> Options -> Customize Emacs -> Custom Themes and tell me if you see anything checked. If so, un-check it.

How are you loading `nord-theme`?

[2020-04-16 11:29] noaccOS commented on #97
@TRSx80 Nope, I only have nord

![image](https://user-images.githubusercontent.com/24324352/79451035-264ce280-7fe6-11ea-9509-24f28504ae5c.png)

I'm setting the theme with `(setq doom-theme 'nord)` in `~/.doom.d/config.el`

[2020-04-16 11:30] articuluxe commented on #97
Are you using nord-theme or doom-nord-theme?

[2020-04-16 11:33] noaccOS commented on #97
@articuluxe nord-theme
It seems setting the theme to doom-nord fixes dired, it might be an issue with doom emacs
Thank you for your support

[2020-04-16 11:33] #97 closed

[2020-04-16 17:46] TRSx80 opened #99 "Nord theme for kpm-list"
Good day!,

I have really been enjoying Nord!  Now I am at the point of starting to tweak little things here and there.

One of the most glaring things (at least on my own setup) that was standing out (theme wise) was [`kpm-list`](https://github.com/KMahoney/kpm-list) which is an intelligent grouped buffer list, that I have been using for some years now and couldn't live without.  But the default

[2020-04-28 12:56] arcticicestudio commented on #98
Hi @TRSx80 :wave:, thanks for your contribution :+1:
That is a fantastic documentation and analysis!

The reason for only using `nord10` starting from level 5 is that this should indicate "less important" sections and maybe also content that is nested too much. This design decision is also based on [HTML headings that are also only available from level 1-6][mdn]. Too many different levels might in

[2020-04-28 13:05] arcticicestudio commented on #99
Hi @TRSx80 :wave:, thanks for your contribution :+1:
Again a great and detailed documentation 😉

Adding support for other packages is always welcome.
Your prototype already looks great. The only part I'd change is to use `nord8` instead of `nord7` for the section headings since it's the main accent color.
Feel free to submit a PR so we can review and merge it into the theme.

[2020-04-29 13:55] arcticicestudio commented on #93
Hi @rien333 :wave:, thanks for your contribution :+1:
Sorry for that time gap, must have missed this one in my notifications and just found it while cleaning up the 3k+ items in the new GitHub notification center.

Unfortunately I don't remember exactly which packages I've used to take the screenshots since I only setup Emacs for testing purposes of this theme. Maybe the shipped syntax highlightin

[2020-05-01 16:33] TRSx80 commented on #98
Thanks for your thoughts.

I did not try your adjusted scheme yet, I will do so and report back later (as I haven't touched this in a while and having trouble visualizing it off the top of my head), however in the meantime I realized something else.

One subtle point that I did want to bring up, which you would not be aware of if not an Emacs/Org user, is that after level 8 they simply repeat.  In

[2020-05-01 17:14] TRSx80 commented on #99
I actually played with that quite a bit, IIRC.  If you look closely, there is some differentiation between regular directory font, `old-path-face`, etc. and I think I simply ran out of options/colors, or I couldn't get it to "look right" or... differentiation, or... something (it's been a little while now)?  Maybe it was that I started off by matching the default `dired` (directory editor, the Ema

[2020-06-16 18:45] arcticicestudio commented on #93
@rien333 Have you been able to fix the incorrect styles or does the problem still persists?

[2020-06-16 19:40] rien333 commented on #93
Sorry for not following up on this. The problem "persists", but I think this is due to the fact that you might have done some extra config when you originally took the screenshots shown in the README. By default, emacs [doesn't use syntax highlighting for numerals](http://www.wilfred.me.uk/blog/2014/09/27/the-definitive-guide-to-syntax-highlighting/), no matter which mode you're in. (you provided

[2020-06-16 19:40] #93 closed

[2020-06-17 05:57] arcticicestudio commented on #93
No problem, I've also replied like 2 months later 😕
I'll check if I can find the test/screenshot configurations I've used for the project assets, but since I don't use Emacs the chance is high that it was the result of a quick copy&paste Google search.

[2020-06-17 07:27] rien333 commented on #93
Don't worry too much! Most guides online are pretty clear about it: you'll have to install some special mode for this too work (or add some code yourself)

[2020-06-20 11:22] #86 closed

[2020-06-24 13:20] AntonOrlovAmbulnz opened #100 "Support ledger-mode"
Love this theme. Would love to have support for ledger-mode [ledger-mode](https://github.com/ledger/ledger-mode)

[2020-06-24 13:23] AntonOrlovAmbulnz opened #101 "Support for mocha.el"
Could you please add support for [mocha.el](https://github.com/scottaj/mocha.el)

[2020-07-03 08:06] arcticicestudio commented on #100
Hi @AntonOrlovAmbulnz :wave:, thanks for your contribution :+1:

I'll add it to the backlog, but everyone can feel free to submit a PR for it.

[2020-07-03 08:17] arcticicestudio commented on #101
Hi @AntonOrlovAmbulnz :wave:, thanks for your contribution :+1:

It looks like the package is currently unmaintained so I don't know if adding support for it is good for the long term. Maybe we need to evaluate if there are other maintained packages (e.g. a one that support multiple test runners) to add support for it to Nord.

[2020-08-26 10:57] ssnnoo commented on #94
Getting ediff to work with only 16 colours is a big challenge because the default ediff keeps the syntax highlighting and just overlays red etc. What could be done instead is to change the foreground to a constant color (also done in other themes, e.g. solarized) and highlight changes in bold. See attached screenshots. Any opinions regarding this?

<img width="1388" alt="nord_ediff_old" src="https

[2020-09-07 06:09] Linuus commented on #94
Personally I like the default style more I think. It's a bit easier for me to see what has changed, but maybe I would get used to the other style :)

What about using the default colors but make them a bit lighter/transparent and highlight the inline changes with regular Nord colors (so it more resembles the default ediff but it's a bit more Nord styleish)?

Also, just fixing that hard to read gre

[2020-09-07 10:05] ssnnoo commented on #94
still there are occasions where the default colours do not provide great readability. but overall maybe a good compromise?

<img width="1245" alt="newx" src="https://user-images.githubusercontent.com/43703153/92376108-fe2b6080-f0f9-11ea-883c-8ab91fe6f9e4.png">

[2020-09-07 13:10] ssnnoo commented on #94
or like this, but then again we lose the syntax highlighting in the active diff region. personally I don't mind as this is not super useful anyway.

<img width="1207" alt="new2" src="https://user-images.githubusercontent.com/43703153/92391026-de089b00-f113-11ea-837c-5b6261b7b353.png">

[2020-09-25 10:58] wingyplus opened #102 "magit merge coflict color seem to be different color compared to vscode"
From VSCode, I see merge conflict diss color like this:

![Screen Shot 2563-09-25 at 17 56 34](https://user-images.githubusercontent.com/484530/94259395-97f76800-ff58-11ea-8914-d8c38101acab.png)

But on Emacs:

![Screen Shot 2563-09-25 at 17 55 46](https://user-images.githubusercontent.com/484530/94259429-a34a9380-ff58-11ea-9f5f-d77a87398d92.png)

[2020-09-26 19:32] arcticicestudio commented on #102
Hi @wingyplus :wave:, thanks for your contribution :+1:

The difference between some ports is often due to the fact that some features are not always part of the application core like in this example _Magit_ which is a third-party package. In #27 the support for _Magit_ was already requested, but there hasn't been a PR. I'm not a Emcas user myself and since my free time I can spend on open source

[2020-09-28 14:38] wingyplus commented on #102
@arcticicestudio Thanks for your reply. I'll take a look what I can do with this. :)

[2020-10-03 13:47] wingyplus commented on #102
I just update on my research. It seems we need to decorate `smerge` theme. In the image below, I custom `smerge-refined-added` to use `nord7`. It's works but the color look hard to read.

![Screen Shot 2563-10-03 at 20 44 24](https://user-images.githubusercontent.com/484530/94993172-420a6c00-05b9-11eb-8140-d0584dc3de45.png)

[2020-10-03 14:22] wingyplus commented on #102
Add 3 lines for `smerge` to the same `diff` looks better.

[code]

![Screen Shot 2563-10-03 at 21 22 07](https://user-images.githubusercontent.com/484530/94993927-83514a80-05be-11eb-9019-77456ee5b327.png)

[2020-10-03 14:25] wingyplus commented on #102
Compare to diff in `magit-show-commit`. The result from previous comment looks very weired. 🤔

![Screen Shot 2563-10-03 at 21 24 41](https://user-images.githubusercontent.com/484530/94993983-dfb46a00-05be-11eb-9371-06ffa8b0d10a.png)

[2020-11-07 10:29] arcticicestudio commented on #102
In order to achieve the same style like in VS Code, the background color must be "semi-transparent" by making use of the alpha layer value, but I'm not sure if it is supported by Emacs. We need to add new color variables which use the [RGBA color model][w].

[w]: https://en.wikipedia.org/wiki/RGBA_color_model

[2020-11-28 11:11] Vd86xkht opened #105 "Emacs 27 - (tab-bar-mode 1) - suggestion"
Emacs 27 comes with a new (tab-bar-mode), which is currently not styled using nord theme.

![Screenshot from 2020-11-28 12-07-42](https://user-images.githubusercontent.com/44922552/100514154-8f96f580-3172-11eb-94f3-09732471527f.png)

My suggestion is to use the same styles like the mode-line:

` '(tab-bar ((t (:inherit mode-line-inactive))))
 '(tab-bar-tab ((t (:inherit mode-line-highlight))))
 '(

[2021-05-10 10:23] xukai92 commented on #59
Just to mention that the unoffical Nord theme in the Doom themes (https://github.com/hlissner/emacs-doom-themes/blob/master/themes/doom-nord-theme.el) doesn't suffer from this issue but that theme is not as polished as this offical one. I wonder if we could merge these two version; Doom themes seem to well-maintained.

[2021-06-21 12:09] SilverBzH opened #108 "Nord for Kakoune"
Hello,

I'm using [Kakoune](https://kakoune.org/) as text editor and there isn't any official Nord theme for it

Since the documentation for the design guideline are still in progress, do you plan to do an official one for it ? It would be awesome :D !

Thanks :)

[2021-06-21 15:00] #108 closed

[2022-10-08 12:22] svengreb opened #113 "Fix image asset URLs after `nord-docs` GitHub flow and `main` branch migration"
The URLs to image assets are broken due to the recent [GitHub flow migration][1] in the `nord-docs` repository as the [switch from the `master` to `main` branch][2]. This is also in preparation for a very big change that is scheduled to be announced in a few weeks which require the paths to be updated again, but in the meantime these should definitely be fixed in almost all Nord port repositories.

[2022-10-08 12:26] #113 closed

[2022-10-12 13:56] EdwardIII commented on #59
Hey, still seeing this on:

* nord-theme-20200620.1122 (0.5.0)
* emacs 28.1
* X on linux
* Running emacs in daemon mode

Is https://github.com/arcticicestudio/nord-emacs/issues/59#issuecomment-611610832 still the way to go?

[2022-10-21 15:55] cgoetzke commented on #95
Necro incoming!

When I installed this theme, I also found that my `DONE` headlines (after the keyword) were showing up salmon (`nord11`, I think?). This was distracting; if anything, a theme should de-emphasize `DONE` items, rather than draw the eye to them (though perhaps this is just personal opinion). I'm still not sure where this came from. I think the color was from the Nord palette, but the